/* Global styling */

@import url("./global.css");
@import url("./cipher.css");


/* VARIABLES */

:root{
    --primary-color: #06ac38;
    --primary-color2: #007e1f;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #83f39c 0%, #0ca507 100%);
    --shadow-color: 0px 10px 30px rgba(80, 209, 241, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* font variable */
    --roboto: "Arial", cursive;

}

/* start navigation */ 

.navbar-brand{
    color: var(--primary-color);
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 

/* Banner Area */ 

.site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-banner .site-title h1{
    font-size: 5rem;
}

.site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-banner .banner-image > img{
    padding: 7rem 0;
}


/* End Banner Area */ 

/* Start About Area */ 

.about-area{
    padding: 8rem 5rem;
}

.about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.about-area .about-title .paragraph > p{
    padding: .4rem 0;
}

.about-area .about-image > img{
    margin-top: 3rem;
    margin-left: 15rem;
}


/* End About Area */ 


/* Project Area */ 

.project-area{
    padding: 4rem 0;
}

.project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.project-area .button-group button + button{
    padding-left: 3rem;
}

.project-area .grid .our-project > .title h4{
    font: normal 700 25px/12px var(--roboto);
}

.project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 

/* Footer Area */ 


footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: var(--border-color);
}


footer.footer-area .social a:hover .fa-github {
    color: rgb(32, 30, 30);
}
footer.footer-area .social a:hover .fa-instagram {
    color: rgb(138, 16, 77);
}
footer.footer-area .social a:hover .fa-youtube {
    color: red;
}
footer.footer-area .social a:hover .fa-linkedin {
    color:rgb(14, 91, 235);
}


/* End Footer */ 