{% extends "layout.html" %}

{% block title %}
    Cipher
{% endblock %}

{% block main %}

<section class="cipher-section">
    <form action="/cipher" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="encrypted_message" placeholder="Text" type="text">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shift" placeholder="Shift" type="number">
            <button class="btn button primary-button mr-4 text-uppercase" type="submit">Cipher</button>
        </div>
        <div class="encrypted-message">
            <h4 class="e-m"> {{ encrypted_message }} </h4>
        </div>
    </form>
</section>

{% endblock %}