{% extends "layout.html" %}


{% block main %}

<!-- ===================================================================START BANNER================================================================ -->
    <section class="site-banner">
    <div class="container" id="home">
        <div class="row">
        <div class="col-lg-6 col-md-12 site-title">
            <h3 class="title-text text-greeting">Hey</h3>
            <h1 class="title-text text-uppercase">I am Bard</h1>
            <h4 class="title-text text-uppercase">Engineer interested in AI</h4>
            <div class="site-buttons">
            <div class="d-flex flex-row flex-wrap">
                <button type="button" class="btn button primary-button mr-4 text-uppercase">hire me</button>
                <button type="button" class="btn button secondary-button text-uppercase">Get CV</button>
            </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 banner-image">
            <img alt="banner-image" class="img-fluid" src="/static/images/isla_mujeres.jpg">
        </div>
        </div>
    </div>
    </section>


<!-- ===================================================================END BANNER================================================================ -->


<!-- ===================================================================START ABOUT AREA================================================================ -->

    <section class="about-area">
    <div class="container-fluid" id="about">
        <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="col-lg-6 col-md-12 about-image">
            <img src="/static/images/ent.jpg" alt="about-area" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-6 col-md-12 about-title">
            <h2 class="text uppercase pt-5">
                <span>Let me</span>
                <span>introduce</span>
                <span>myself</span>
            </h2>
            <div class="paragraph py-4 w-75">
                <p class="para">
                What is the ent doing there on the left? I just think that this one image can express two of my passions simultaneously. I love fantasy and nature! Besides I 
                play guitar/ukulele and sing. I also hike and ride the MTB that I call "Indianin". When I take a longer break from work I travel. I think that when you travel
                you don't only get to know other cultures, but also you realize much more about your home. It widens the perspective and is an incredibly rich experience. Check out 
                my youtube channel in the follow me section to have a look at my blogs if you are interested. 
                </p>
                <p class="para">
                From the professional perspective, I am a bit of a seeker. My undergraduate is from Chemical Engineering at Silesian University. Then I thought I 
                would like to know more about mechanics, physics, and my already beloved thermodynamics so I graduated from the Advanced Mechanical Engineering program at 
                Cranfield University - UK. I fell in love with computational physics, like CFD and FEA. I worked as Computer-Aided Engineer in that field for 4 years
                but decided to do a final change in course of my career. I wanted something even more technical and deep in the computational field. Right now I am already 
                programming in Python for about 2 years and I am thrilled to pieces. I want to pursue that path and I feel like this is finally it. A lot of technical challenges
                and a need to keep learning is something that drives me to improve in the field. That is why I am currently pursuing a Master in Artificial intelligence at the International University of Applied Sciences. 
                </p>
            </div>
            <button type="button" class="btn button primary-button text-uppercase">Download CV</button>
        </div>
        </div>
    </div>
    </section>





<!-- ===================================================================END ABOUT AREA================================================================ -->

<!--  ===================================================================START PROJECT AREA ===============================================================  -->

<section class="project-area">
    <div class="container" id="projects">
        <div class="project-title pb-5">
            <h1 class="text-uppercase title-h1">Projects</h1>
        </div>

        <div class="button-group">
            <button type="button" class="active" id="btn1" data-filter="*">All</button>
            <button type="button" data-filter=".popular" data-filter=".popular">Popular</button>
            <button type="button" data-filter=".latest" data-filter=".latest">Latest</button>
            <button type="button" data-filter=".following">Following</button>
            <button type="button" data-filter=".upcoming">Upcoming</button>
        </div>

        <div class="row grid">
            <div class="col-lg-4 col-md-6 col-sm-12 element-item latest">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="/static/images/projects/Robot_Floor_Cleaner.png">
                            <img src="/static/images/projects/Robot_Floor_Cleaner.png" alt="portfolio-1" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Cleaning Robots</h4>
                        <span class="text-secondary">Latest, Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 element-item popular">
                <div class="our-project">
                    <div class="img">
                        <a class="test-popup-link" href="/cipher">
                            <img src="/static/images/projects/cipher.png" alt="portfolio-2" class="img-fluid">
                        </a>
                    </div>
                    <div class="title py-4">
                        <h4 class="text-uppercase">Cipher</h4>
                        <span class="text-secondary">Popular, Portfolio</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!--  =============================================================== END PROJECT AREA ==========================================================  -->

{% endblock %}